#accountPanel {
	padding-top: 15px;
	font-weight: bold;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	background-image: url("/resources/background.png");
}
#products {
	max-height: 400px;
	overflow-y: auto;
	color: lightblue;
}
.list-group-item {
	color: cornflowerblue
}
#cart {
	max-height: 450px;
	overflow-y: auto;
}
#checkoutBtn {
	width: 125px;
	padding-left: 10x;
	padding-right: 10px;
	margin-left: 10px;
	
}
#banner {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 20px;
	background-color: white;
	opacity: 0.4;
	border-radius: 10px;
	height:100px;
	width: 800px;
}
#accountPanel {
	vertical-align: middle;
}
#online {
	font-weight: bold;
}
.nav-pills > li > a {
    color: white;
    font-weight: bold;
    }
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: darkgreen;
	font-weight: bold;
    background-color: lightgreen
    }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
	font-weight: bold;
	background-color: seagreen
    
    }