body {
	color: white;
	font-family: Segoe UI;
	background-image: url("/resources/background.png");
}
#registerBox {
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 38%;
	transform: translateY(-50%);
	width: 25%;
	background: #233590;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#notifyLbl {
	font-size: 20px;
	font-weight: bold;
}
#alertLbl {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}